@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

input,
input:focus {
    outline: none;
}

a {
    padding: 0.7em 2em;
    background: #2980b9;
    color: #fff;
    border: 2px solid #2980b9;
    border-radius: 30px;
    transition: 0.25s;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin: 2em 2em 4em 0;
}

a:hover, a.active {
    background: #fff;
    color: #2980b9;
    border: 2px solid #2980b9;
    transition: 0.25s;
    outline: none;
};
a:disabled {
    opacity: 0.6;
}
a:disabled:hover {
    background: #2980b9;
    color: #fff;
}